<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.BoardManageMapper">

	<!-- 공지사항 카테고리 -->
	<select id="notice_category_seq" resultType="Long">
		SELECT notice_category_seq.NEXTVAL FROM dual
	</select>
	
	<select id="find_by_category_num" parameterType="hashmap" resultType="com.fa.plus.admin.domain.BoardManage">
		SELECT notice_category_num, notice_category_name, 
			u.user_name AS notice_category_reg_id, notice_category_reg_date, 
			u.user_name AS notice_category_update_id, notice_category_update_date, 
			notice_category_order, notice_category_visible
		FROM notice_category nc
		JOIN user1 u ON nc.notice_category_reg_id = u.userIdx
		WHERE notice_category_num IN
		<foreach item="item" index="index" collection="list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		
	</select>
	
	<select id="list_notice_category" resultType="com.fa.plus.admin.domain.BoardManage">
		SELECT notice_category_num, notice_category_name, 
			u.user_name AS notice_category_reg_id, TO_CHAR(notice_category_reg_date,'YYYY-MM-DD') AS notice_category_reg_date, 
			u.user_name AS notice_category_update_id, TO_CHAR(notice_category_update_date,'YYYY-MM-DD') AS notice_category_update_date, 
			notice_category_order, notice_category_visible
		FROM notice_category nc
		JOIN user1 u ON nc.notice_category_reg_id = u.userIdx
	</select>
	
	<insert id="insert_notice_category" parameterType="com.fa.plus.admin.domain.BoardManage">
		INSERT INTO notice_category(NOTICE_CATEGORY_NUM, NOTICE_CATEGORY_NAME, 
			NOTICE_CATEGORY_REG_ID, NOTICE_CATEGORY_REG_DATE,
			NOTICE_CATEGORY_ORDER, NOTICE_CATEGORY_VISIBLE)
		VALUES(#{notice_category_num}, #{notice_category_name}, 
			1, SYSDATE, #{notice_category_num}, 1)
	</insert>
	
	<update id="update_notice_category" parameterType="com.fa.plus.admin.domain.BoardManage">
		UPDATE notice_category
		SET notice_category_name = #{notice_category_name}, notice_category_visible = #{notice_category_visible}
		WHERE notice_category_num = #{notice_category_num}
	</update>

	
	
	<!-- 공시사항 게시판 -->
	
	
</mapper>