<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.BoardManageMapper">

	<!-- 공지사항 카테고리 -->
	<select id="notice_category_seq" resultType="Long">
		SELECT notice_category_seq.NEXTVAL FROM dual
	</select>
	
	<select id="find_by_category_num" parameterType="hashmap" resultType="com.fa.plus.admin.domain.BoardManage">
		SELECT notice_category_num, category_name AS notice_category_name, 
			u.user_name AS notice_category_reg_id, category_reg_date AS notice_category_reg_date, 
			u.user_name AS notice_category_update_id, category_update_date AS notice_category_update_date, 
			category_order AS notice_category_order, category_visible AS notice_category_visible
		FROM notice_category nc
		JOIN user1 u ON nc.category_reg_id = u.userIdx
		WHERE notice_category_num IN
		<foreach item="item" index="index" collection="list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
		
	</select>
	
	<select id="list_notice_category" resultType="com.fa.plus.admin.domain.BoardManage">
		SELECT notice_category_num, category_name AS notice_category_name, 
			u.user_name AS notice_category_reg_id, TO_CHAR(category_reg_date,'YYYY-MM-DD') AS notice_category_reg_date, 
			u.user_name AS notice_category_update_id, TO_CHAR(category_update_date,'YYYY-MM-DD') AS notice_category_update_date, 
			category_order AS notice_category_order, category_visible AS notice_category_visible
		FROM notice_category nc
		JOIN user1 u ON nc.category_reg_id = u.userIdx
	</select>
	
	
	
	
	<!-- 공시사항 게시판 -->
	
	
</mapper>