<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.MyPageMapper">

	<!-- 장바구니 등록 -->
	<insert id="insertCart" parameterType="com.fa.plus.domain.Order">
		INSERT INTO cart(cart_num, useridx, detail_num1, detail_num2, product_num,
			cart_reg_date, qty, cart_update_date)
				VALUES(cart_seq.NEXTVAL, #{useridx}, #{detail_num1},
				#{detail_num2, jdbcType=BIGINT}, #{product_num}, SYSDATE, #{qty}, SYSDATE)		
	</insert>
	
	<!-- 장바구니 업데이트 -->
	<update id="updateCart" parameterType="com.fa.plus.domain.Order">
		UPDATE cart SET qty = #{qty}, cart_update_date = SYSDATE
		WHERE detail_num2 = #{detail_num2} AND useridx = #{useridx}
	</update>	
	
	<select id="findByCartId" parameterType="map" resultType="com.fa.plus.domain.Order">
		SELECT cart_num, useridx, detail_num1, detail_num2, qty, product_num,
			cart_reg_date, cart_update_date
		FROM cart
		WHERE detail_num2 = #{detail_num2} AND useridx = #{useridx}
	</select>

	<!-- 장바구니 리스트 -->
	<select id="listCart" resultType="com.fa.plus.domain.Order" parameterType="Long">
		SELECT c.cart_num, useridx, c.detail_num1, c.detail_num2, c.product_num, c.qty,
			c.cart_reg_date, c.cart_update_date, product_name,
				d.option_value, d2.option_value option_value2,
					product_summary, p.product_price
		FROM cart c
		JOIN product p ON c.product_num = p.product_num
		JOIN optionDetail d ON c.detail_num1 = d.detail_num
		JOIN optionDetail d2 ON c.detail_num2 = d2.detail_num
		WHERE useridx = #{useridx}
		ORDER BY cart_reg_date DESC 
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCart" parameterType="map">
		DELETE FROM cart
		WHERE useridx = #{useridx} 
		<if test="gubun == 'item' ">
			AND detail_num2 = #{detail_num2}
		</if>
		<if test="gubun == 'list' ">
			AND detail_num2 IN
			<foreach collection="list" item="detail_num2" index="index"
				open="(" separator="," close=")">
				#{detail_num2}
			</foreach>
		</if>
	</delete>
	
	<!-- 장바구니 만료 -->
	<delete id="deleteCartExpiration">
		DELETE FROM cart
		WHERE cart_reg_date + 15 &lt; SYSDATE
	</delete>	
	
	<!-- 회원 -->
	<select id="listMember" parameterType="Long" resultType="com.fa.plus.admin.domain.MemberManage">
		SELECT m1.useridx, m.usership, m1.user_name, 
			m1.reg_date, m2.email, m2.tel, 
			TO_CHAR(birth, 'YYYY-MM-DD') birth, m2.addr1, m2.addr2
		FROM userall m
		JOIN user1 m1 ON m.useridx = m1.useridx
		LEFT OUTER JOIN user2 m2 ON m1.useridx = m2.useridx
		WHERE m1.useridx = #{useridx}
	</select>	


	
	<!-- 찜 리스트 -->
	<select id="listZzim" resultType="com.fa.plus.domain.Zzim" parameterType="Long">
		SELECT p.product_num, u.useridx, zzim_date, zzim_update_date,
			p.product_name, p.product_price, u.user_name, p.product_summary
		FROM zzim z
		JOIN user1 u ON z.useridx = u.useridx
		JOIN product p ON z.product_num = p.product_num
		WHERE u.useridx = #{useridx}
		ORDER BY zzim_date DESC 
	</select>
	
	<!-- 찜목록 등록 -->
	<insert id="insertZzim" parameterType="com.fa.plus.domain.Zzim">
		INSERT INTO zzim(product_num, useridx, zzim_date, zzim_update_date)
			VALUES(#{product_num}, #{useridx}, SYSDATE, SYSDATE)	
	</insert>		
	
	<!-- 찜목록 삭제 -->
	<delete id="deleteZzim" parameterType="map">
		DELETE FROM zzim
		WHERE useridx = #{useridx} 
		<if test="gubun == 'item' ">
			AND product_num = #{product_num}
		</if>
		<if test="gubun == 'list' ">
			AND product_num IN
			<foreach collection="list" item="product_num" index="index"
				open="(" separator="," close=")">
				#{product_num}
			</foreach>
		</if>
	</delete>	
	
	
	<select id="countPayment" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM totalorder t
		JOIN order_detail od ON t.order_num = od.order_num
		WHERE t.useridx = #{useridx} AND order_delete = 0
	</select>
	
	
	
</mapper>