<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.NoticeMapper">
	<sql id="where-list">
		<if test="schType=='all' ">
			( INSTR(subject, #{kwd}) &gt; 0 
				OR DBMS_LOB.INSTR(notice_content, #{kwd}) &gt; 0)
		</if>
		<if test="schType=='notice_title' ">
			INSTR(notice_title, #{kwd}) &gt;0
		</if>
		<if test="schType=='notice_content' ">
			DBMS_LOB.INSTR( notice_content, #{kwd}) &gt; 0 
		</if>
		<if test="schType=='notice_reg_id' ">
			notice_reg_id=#{kwd}
		</if>
		<if test="schType=='notice_reg_date' ">
			( TO_CHAR(notice_reg_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(notice_reg_date, 'YYYYMMDD') = #{kwd} )
		</if>
		
	</sql>
	
	<!--
	<select id="listNoticeTop" resultType="com.sp.app.domain.Notice">
		SELECT n.num, notice, n.userId, userName, subject, hitCount, 
				TO_CHAR(reg_date, 'YYYY-MM-DD') reg_date,
				NVL(fileCount, 0) fileCount
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) fileCount FROM noticeFile
			GROUP BY num
		) f ON n.num=f.num
		WHERE notice = 1 AND showNotice = 1
		ORDER BY num DESC
	</select>
	
	  -->
	<select id="listNoticeTop" resultType="com.fa.plus.domain.Notice">
		SELECT n.notice_category_num, category_name, notice_title, n.category_reg_id, 
			TO_CHAR(category_reg_date, 'YYYY-MM-DD') category_reg_date
		FROM notice n
		JOIN user1 u ON n.category_reg_id = u.useridx
		WHERE notice = 1 AND category_visible = 1
		ORDER BY notice DESC
		
	</select>
	
	<select id="dataCount" parameterType="map" resultType="com.fa.plus.domain.Notice">
		SELECT NVL(COUNT(*), 0)
		FROM notice n
		JOIN user1 u ON n.category_reg_id=m.useridx
		<where>
			category_visible = 1
			<if test="kwd != null and kwd!='' ">
				AND <include refid="where-list"/>
			</if>
		</where>
	
	</select>
	
	<select id="listNotice" parameterType="map" resultType="com.fa.plus.domain.Notice">
	
	</select>
	
	 <select id="findById" parameterType="Long" resultType="com.fa.plus.domain.Notice">
	 
	 </select>
	 
	 <select id="findByPrev" parameterType="map" resultType="com.fa.plus.domain.Notice">
	 
	 </select>
	
	 <select id="findByNext" parameterType="map" resultType="com.fa.plus.domain.Notice">
	
	</select>
	
	<select id="listNoticeFile" parameterType="Long" resultType="com.fa.plus.domain.Notice">
	
	</select>
	
	<select id="findByFileId" parameterType="Long" resultType="com.fa.plus.domain.Notice">
	
	</select>
</mapper>