<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.NoticeMapper">
	<sql id="where-list">
		<if test="schType=='all' ">
			( INSTR(n.notice_title, #{kwd}) &gt; 0 
				OR DBMS_LOB.INSTR(notice_content, #{kwd}) &gt; 0)
		</if>
		<if test="schType=='notice_title' ">
			INSTR(n.notice_title, #{kwd}) &gt;0
		</if>
		<if test="schType=='notice_content' ">
			DBMS_LOB.INSTR( n.notice_content, #{kwd}) &gt; 0 
		</if>
		<if test="schType=='notice_reg_id' ">
			n.notice_reg_id=#{kwd}
		</if>
		<if test="schType=='notice_reg_date' ">
			( TO_CHAR(n.notice_reg_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(n.notice_reg_date, 'YYYYMMDD') = #{kwd} )
		</if>
		
	</sql>
	
	<select id="listNoticeTop" resultType="com.fa.plus.domain.Notice">
  	  	SELECT n.notice_num, c.notice_category_num, n.notice_title, n.notice_reg_id, n.notice_hit_count, 
        	TO_CHAR(n.notice_reg_date, 'YYYY-MM-DD') AS notice_reg_date
    	FROM notice_board n
    	JOIN notice_category c ON n.notice_category_num = c.notice_category_num
    	WHERE n.notice_visible = 1
    	ORDER BY n.notice_category_num DESC
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice_board n
		JOIN notice_category c ON n.notice_category_num = c.notice_category_num
		<where>
			notice_visible = 1
			<if test="kwd != null and kwd!='' ">
				AND <include refid="where-list"/>
			</if>
		</where>
	
	</select>
	
	<select id="listNotice" parameterType="map" resultType="com.fa.plus.domain.Notice">
    	SELECT n.notice_num, c.notice_category_num, n.notice_title, n.notice_reg_id, 
       		n.notice_hit_count, n.notice_reg_date
   		FROM notice_board n
    	JOIN notice_category c ON n.notice_category_num = c.notice_category_num
    	<where>
        	n.notice_visible = 1
        	<if test="kwd != null and kwd != ''">
            	AND <include refid="where-list"/>
        	</if>
    	</where>
    	ORDER BY n.notice_category_num DESC
    	OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE notice_board SET notice_hit_count=notice_hit_count+1 
		WHERE notice_category_num=#{notice_category_num}
	
	</update>
	
	 <select id="findById" parameterType="Long" resultType="com.fa.plus.domain.Notice">
	 	SELECT notice_category_num, n.notice_reg_id, notice_title, notice_content, notice_hit_count,
	 		notice_reg_date, notice_visible
	 		FROM notice_board n
	 		JOIN user1 u ON n.notice_reg_id=u.useridx
	 		WHERE notice_category_num = #{notice_category_num}
	 </select>
	 
	 <select id="findByPrev" parameterType="map" resultType="com.fa.plus.domain.Notice">
	 	SELECT notice_category_num, notice_title
	 	FROM notice_board n
	 	JOIN user1 u ON n.notice_reg_id=u.useridx
	 	<where>
	 		notice_visible = 1
	 		<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (notice_category_num &gt; #{notice_category_num})
	 	</where>
	 	ORDER BY notice_category_num ASC, notice_reg_date DESC
	 	FETCH FIRST 1 ROWS ONLY
	 	
	 </select>
		
	 <select id="findByNext" parameterType="map" resultType="com.fa.plus.domain.Notice">
		SELECT notice_category_num, notice_title
	 	FROM notice_board n
	 	JOIN user1 u ON n.notice_reg_id=u.useridx
	 	<where>
	 		notice_visible = 1
	 		<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (notice_category_num &lt; #{notice_category_num})
	 	</where>
	 	ORDER BY notice_category_num DESC, notice_reg_date DESC
	 	FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="listNoticeFile" parameterType="Long" resultType="com.fa.plus.domain.Notice">
	
	</select>
	
	<select id="findByFileId" parameterType="Long" resultType="com.fa.plus.domain.Notice">
	
	</select>
</mapper>