<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.OrderManageMapper">

<select id="list_order" resultType="com.fa.plus.admin.domain.OrderManageMapper">
	SELECT order_num, order_datetime, transport_date, order_total_money, shipping, order_sale, order_point, order_earn, total_amount, useridx
	FROM totalorder
	</select> 
</mapper>