<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.StatsMapper">

<select id="sort_by_age" resultType="com.fa.plus.admin.domain.Stats">
	SELECT TO_CHAR(birth,'YYYY-MM-DD') AS age 
	FROM user2
</select>
	
<select id="sort_by_weekly_reg" resultType="com.fa.plus.admin.domain.Stats">
SELECT * 
FROM (SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD'))
</select>	

<select id="sort_by_weekly_reg_sum" resultType="com.fa.plus.admin.domain.Stats">
SELECT reg_date, SUM(reg_sum) OVER(ORDER BY reg_date) AS reg_sum
FROM (SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_sum
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_sum
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_sum
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_sum
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_sum
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_sum
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_sum
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD'))
</select>

<select id="sort_by_monthly_reg_sum" resultType="com.fa.plus.admin.domain.Stats">
	SELECT reg_date AS reg_month, SUM(monthly_reg_sum) OVER(ORDER BY reg_date) AS monthly_reg_sum
	FROM(
		SELECT TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM') reg_date,
		      COUNT(*) monthly_reg_sum
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM') reg_date,
		      COUNT(*) monthly_reg_sum
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM') reg_date,
		      COUNT(*) monthly_reg_sum
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM') reg_date,
		      COUNT(*) monthly_reg_sum
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM') reg_date,
		      COUNT(*) monthly_reg_sum
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,0),'YYYY-MM') reg_date,
		      COUNT(*) monthly_reg_sum
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,0),'YYYY-MM')
	)
</select>

<select id="sort_by_monthly_reg" resultType="com.fa.plus.admin.domain.Stats">	
	SELECT * 
	FROM(
		SELECT TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM') reg_month,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM') reg_month,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM') reg_month,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM') reg_month,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM') reg_month,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,0),'YYYY-MM') reg_month,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,0),'YYYY-MM')
	)
</select>

<select id="sort_by_weekly_sales" resultType="com.fa.plus.admin.domain.Stats">
	SELECT *
	FROM (
	SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,
	'YYYY-MM-DD')
	)
</select>

<select id="sort_by_weekly_revenue" resultType="com.fa.plus.admin.domain.Stats">
	SELECT *
	FROM (
	SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money - order_sale),0) revenue_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money - order_sale),0) revenue_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money - order_sale),0) revenue_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money - order_sale),0) revenue_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money - order_sale),0) revenue_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money - order_sale),0) revenue_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money - order_sale),0) revenue_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,
	'YYYY-MM-DD')
	)
</select>

<select id="sort_by_weekly_sales_sum" resultType="com.fa.plus.admin.domain.Stats">
SELECT sales_date, SUM(sales_num) OVER(ORDER BY sales_date) AS sales_sum
	FROM (
	SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') sales_date,
	NVL(SUM(total_amount),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,
	'YYYY-MM-DD')
	)
	</select>
	<select id="sort_by_weekly_revenue_sum" resultType="com.fa.plus.admin.domain.Stats">
	SELECT sales_date, SUM(revenue_num) OVER(ORDER BY sales_date) AS revenue_sum
		FROM (
		SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') sales_date,
		NVL(SUM(order_total_money),0) revenue_num
		FROM totalorder
		WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6,
		'YYYY-MM-DD')
		UNION ALL
	
		SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') sales_date,
		NVL(SUM(order_total_money),0) revenue_num
		FROM totalorder
		WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5,
		'YYYY-MM-DD')
		UNION ALL
	
		SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') sales_date,
		NVL(SUM(order_total_money),0) revenue_num
		FROM totalorder
		WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4,
		'YYYY-MM-DD')
		UNION ALL
	
		SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') sales_date,
		NVL(SUM(order_total_money),0) revenue_num
		FROM totalorder
		WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3,
		'YYYY-MM-DD')
		UNION ALL
	
		SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') sales_date,
		NVL(SUM(order_total_money),0) revenue_num
		FROM totalorder
		WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2,
		'YYYY-MM-DD')
		UNION ALL
	
		SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') sales_date,
		NVL(SUM(order_total_money),0) revenue_num
		FROM totalorder
		WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1,
		'YYYY-MM-DD')
		UNION ALL
	
		SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') sales_date,
		NVL(SUM(order_total_money),0) revenue_num
		FROM totalorder
		WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,
		'YYYY-MM-DD')
		)
	</select>
	<select id="sort_by_monthly_sales" resultType="com.fa.plus.admin.domain.Stats">
		SELECT TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,0),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE, 0),'YYYY-MM')
	</select>
	<select id="sort_by_monthly_revenue" resultType="com.fa.plus.admin.domain.Stats">
	SELECT TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_revenue_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_revenue_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_revenue_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_revenue_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_revenue_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,0),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_revenue_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE, 0),'YYYY-MM')
	</select>
	
	<select id="sort_by_monthly_sales_sum" resultType="com.fa.plus.admin.domain.Stats">
	SELECT sales_month, SUM(monthly_sales_num) OVER(ORDER BY sales_month) AS monthly_sales_sum
FROM(
SELECT TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,0),'YYYY-MM') sales_month,
      NVL(SUM(total_amount),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE, 0),'YYYY-MM'))
	</select>
	
	<select id="sort_by_monthly_revenue_sum" resultType="com.fa.plus.admin.domain.Stats">
	SELECT sales_month, SUM(monthly_sales_num) OVER(ORDER BY sales_month) AS monthly_revenue_sum
FROM(
SELECT TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM')
      UNION ALL

SELECT TO_CHAR(add_months(SYSDATE,0),'YYYY-MM') sales_month,
      NVL(SUM(order_total_money - order_sale),0) monthly_sales_num
FROM totalorder
WHERE TO_CHAR(order_datetime,'YYYY-MM') = TO_CHAR(add_months(SYSDATE, 0),'YYYY-MM'))
	</select>
</mapper>