<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.StatsMapper">

<select id="sort_by_age" resultType="com.fa.plus.admin.domain.Stats">
	SELECT TO_CHAR(birth,'YYYY-MM-DD') AS age 
	FROM user2
</select>
	
<select id="sort_by_weekly_reg" resultType="com.fa.plus.admin.domain.Stats">
SELECT * 
FROM (SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1, 'YYYY-MM-DD')
    UNION ALL
SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') reg_date,
    COUNT(*) reg_num
FROM user1
WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD'))
</select>	

<select id="sort_by_monthly_reg" resultType="com.fa.plus.admin.domain.Stats">	
	SELECT * 
	FROM(
		SELECT TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM') reg_date,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-5),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM') reg_date,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-4),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM') reg_date,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-3),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM') reg_date,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-2),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM') reg_date,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,-1),'YYYY-MM')
		      UNION ALL
		SELECT TO_CHAR(add_months(SYSDATE,0),'YYYY-MM') reg_date,
		      COUNT(*) reg_num
		FROM user1
		WHERE TO_CHAR(reg_date,'YYYY-MM') = TO_CHAR(add_months(SYSDATE,0),'YYYY-MM')
	)
</select>

<select id="sort_by_weekly_sales" resultType="com.fa.plus.admin.domain.Stats">
	SELECT *
	FROM (
	SELECT TO_CHAR(SYSDATE-6, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-6,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-5, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-5,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-4, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-4,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-3, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-3,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-2, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-2,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE-1, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1,
	'YYYY-MM-DD')
	UNION ALL

	SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') sales_date,
	NVL(SUM(order_total_money),0) sales_num
	FROM totalorder
	WHERE TO_CHAR(order_datetime, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,
	'YYYY-MM-DD')
	)

</select>
</mapper>