<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.SupportMapper">

	<select id="faq_category_seq" resultType="Long">
		SELECT faq_category_seq.NEXTVAL FROM dual
	</select>
	
	<select id="faq_category_order_seq" resultType="Long">
		SELECT faq_category_order_seq.NEXTVAL FROM dual
	</select>
		
	<insert id="insert_faq_category" parameterType="com.fa.plus.admin.domain.Support">
		INSERT INTO faq_category(faq_category_num, category_name, 
			category_reg_id, category_reg_date, category_order, category_visible)
			VALUES(#{faq_category_num}, #{category_name}, 1, SYSDATE, #{faq_category_order}, #{category_visible})
	</insert>
	
	<select id="find_by_category_num" parameterType="hashmap" resultType="com.fa.plus.admin.domain.Support">
		SELECT faq_category_num, category_name,
			u.user_name AS category_reg_id, category_reg_date, category_order, category_visible
		FROM faq_category f
		JOIN user1 u ON f.category_reg_id = u.userIdx
		WHERE faq_category_num IN
		
		<foreach item="item" index="index" collection="list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
			
	</select>
	
	<update id="update_faq_category" parameterType="com.fa.plus.admin.domain.Support">
		UPDATE faq_category
		SET category_name = #{category_name}, category_visible = #{category_visible}
		WHERE faq_category_num = #{faq_category_num}
	</update>
	

  <select id="faq_board_seq" resultType="Long">
		SELECT faq_board_seq.NEXTVAL FROM dual
	</select>

	<insert id="insert_faq_board" parameterType="com.fa.plus.admin.domain.Support">
		INSERT INTO faq_board(faq_num, faq_category_num, faq_question, faq_content, faq_reg_id, faq_reg_date, faq_visible)
			VALUES(#{faq_num}, #{faq_category_num}, #{faq_question}, #{faq_content}, 1, SYSDATE, #{visible})
	</insert>
	
	<select id="find_by_board_num" parameterType="hashmap" resultType="com.fa.plus.admin.domain.Support">
		SELECT faq_num, faq_question, faq_content, faq_visible AS visible
		FROM faq_board f
		WHERE faq_num IN
		<foreach item="item" index="index" collection="list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<update id="update_faq_board" parameterType="com.fa.plus.admin.domain.Support">
		UPDATE faq_board
		SET faq_question = #{faq_question},
			faq_content = #{faq_content},
			faq_update_id = 1,
			faq_update_date = SYSDATE,
			faq_visible = #{visible}
		WHERE faq_num = #{faq_num}
	</update>

  
  
  <select id="list_faq_category" resultType="com.fa.plus.admin.domain.Support">
		SELECT faq_category_num, category_name, u.user_name AS category_reg_id, TO_CHAR(category_reg_date,'YYYY-MM-DD') AS category_reg_date, category_order, category_visible
		FROM faq_category f
		JOIN user1 u ON f.category_reg_id = u.userIdx
	</select>	
	
	<select id="list_faq_board" resultType="com.fa.plus.admin.domain.Support">
		SELECT faq_num, fc.category_name, faq_question, faq_content, u.user_name AS faq_reg_id, TO_CHAR(faq_reg_date, 'YYYY-MM-DD') AS faq_reg_date, faq_visible AS visible
		FROM faq_board f
		JOIN user1 u ON f.faq_reg_id = u.userIdx
      	JOIN faq_category fc ON f.faq_category_num = fc.faq_category_num
	</select>
	
	<select id="show_content" parameterType="Long" resultType="com.fa.plus.admin.domain.Support">
		SELECT faq_question ,faq_content
		FROM faq_board
		WHERE faq_num = #{faq_num}
	</select>
	
	
	<select id="list_inquiry_category">
		SELECT inquiry_category_num, inquiry_category_name, u.user_name AS inquiry_category_reg_id, TO_CHAR(inquiry_category_reg_date,'YYYY-MM-DD') AS inquiry_category_reg_date, inquiry_category_visible
		FROM inquiry_category i
		JOIN user1 u ON i.inquiry_category_reg_id = u.userIdx
	</select>
	
	<select id="list_inquiry_board">
		SELECT inquiry_board_num,ic.category_name, inquiry_board_title, inquiry_board_content, u.user_name AS inquiry_board_reg_id, TO_CHAR(inquiry_board_reg_date,'YYYY-MM-DD') AS inquiry_board_reg_date, inquiry_board_status
		FROM inquiry_board i
		JOIN user1 u ON i.inquiry_board_reg_id = u.userIdx
      	JOIN inquiry_category ic ON ic.inquiry_category_num = i.inquiry_category_num
	</select>
	
	<select id="list_inquiry_answer">
		SELECT inquiry_answer_num, inquiry_board_num, b.inquiry_board_title, b.inquiry_board_content, u.user_name AS inquiry_answer_reg_id, inquiry_answer_title, inquiry_answer_content, TO_CHAR(inquiry_answer_reg_date,'YYYY-MM-DD') AS inquiry_answer_reg_date, TO_CHAR(inquiry_answer_update_date, 'YYYY-MM-DD') AS inquiry_answer_update_date
		FROM inquiry_answer i
		JOIN user1 u ON i.inquiry_board_reg_id = u.userIdx
		JOIN inquiry_board b ON i.inquiry_board_num = b.inquiry_board_num		
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>