/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");



.aside {
	box-shadow: 2px 2px 2px 2px #e2e2e2;
}

.aside-box {
	width: 270px;
	float: left;
	margin-right: 100px;
}

#scroll {
	width: 270px;
	/*position: relative;*/
	position: absolute;
	background-color: #f5f6ff;
	border-radius: 0.8em;
	top: 120px;
}

.aside .aside-wi, .amain {
	margin: 30px;
}

.aside .submenu-main, .amain-main {
	padding: 0 0 10px 10px;
	border-bottom: 2px solid #3a3a3a;
	font-size: xx-large;
	color: #6557be;
}

.aside h3 {
	font-size: 18px;
	color: #000;
	padding: 10px 0 0 10px;
	font-weight: 700;
}

.aside ul li {
	padding-bottom: 5px;
}

.aside ul li a {
	color: black;
}

.aside ul li a:hover {
	color: gray;
}

.eq1 {
	font-weight: 900;
}

.aside-box .aside ul .eq1 a {
	color: hsl(212, 75%, 56%);
}

.contentWrap {
	width: 1100px;
	float: right;
}

.contentWrap .amain h1 {
	display: flex;
	justify-content: space-between;
}

.amain-main a>span {
	font-size: 18px;
	color: gray;
	margin: 10px 0 0 20px;
}

.amain-main span {
	font-size: 14px;
	color: gray;
	margin: 15px 0 0 20px;
}

/*=============== form ===============*/
.output-type {
	display: flex;
	justify-content: end;
	margin: 0 30px;
}

.sort_form {
	display: flex;
	align-items: center;
}

.sort_form a {
	size: 10px;
	margin-left: 10px;
	color: #a69fd6;
}

.sort_form a:hover {
	color: hsl(212, 75%, 56%);
}

.sort_form .sort-color {
	color: hsl(212, 75%, 56%);
}
/*=============== notice ===============*/
.notice-container {
	margin: 0 30px;
}

.page-navigation {
	text-align: center;
	clear: both;
}
/*=============== notice(show1) ===============*/
.article-movie-sub {
	margin-top: 16px;
	padding-left: 0;
}

.article-movie-sub li {
	display: block;
	padding: 16px 0;
	display: flex;
	box-sizing: border-box;
	border-bottom: 1px solid #eeeeef;
}

.article-movie-sub ul, .article-movie-sub li, .article-movie-sub ol,
	.article-movie-sub dl {
	list-style: none;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

.article-movie-sub .con {
	display: table-cell;
	position: relative;
	color: #222;
	cursor: pointer;
}

.article-movie-sub .tit_area {
	display: table;
}

.article-movie-sub .tit_area .tit {
	display: table-cell;
}

.article-movie-sub a {
	color: inherit;
	text-decoration: none;
}

.article-movie-sub .tit_area .tit .inner {
	display: table;
	table-layout: fixed;
}

.article-movie-sub .tit_area .tit strong {
	display: block;
	height: 22px;
	font-size: 16px;
	line-height: 22px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	word-break: break-word;
}

.article-movie-sub .txt {
	display: block;
	
	max-height: 70.22px;
	/* max-height: 67px; */
	
	margin-top: 3px;
	font-size: 14px;
	line-height: 22px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	word-wrap: break-word;
	word-break: break-word;
	color: rgb(30, 30, 30);;
}

.article-movie-sub .con_bottom {
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 15px;
}

.article-movie-sub .user_info {
	overflow: hidden;
}

.article-movie-sub .user_info .pers_nick_area {
	float: left;
}

.article-movie-sub .user_info .pers_nick_area>table {
	width: auto;
}

.article-movie-sub tbody {
	vertical-align: middle;
	border-color: inherit;
}

.article-movie-sub tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.article-movie-sub .user_info .pers_nick_area .p-nick {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article-movie-sub .user_info .date_num {
	float: left;
	color: #999;
}

.article-movie-sub .user_info .date_num:before {
	content: '';
	display: inline-block;
	width: 2px;
	height: 2px;
	margin: 0 5px 4px 7px;
	border-radius: 2px;
	background-color: #999;
}

.article-movie-sub .user_info .date, .article-movie-sub .user_info .num
	{
	margin-right: 16px;
}

.article-movie-sub .like_area {
	display: inline-block;
	padding: 0 0 0 7px;
	vertical-align: top;
}

.article-movie-sub .like_area .comment_area {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}

.article-movie-sub .movie-img {
	display: table-cell;
	position: relative;
	/* width: 300px; */
	height: 120px;
	padding-left: 35px;
	vertical-align: top;
}

.article-movie-sub .movie-img a {
	display: block;
	position: relative;
	height: 120px;
	width: 120px;
}

.article-movie-sub .movie-img a:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.05);
	content: '';
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	aspect-ratio: 120/120;
}

.article-movie-sub img {
	vertical-align: top;
	border: 0;
	aspect-ratio: 120/120;
}

.article-movie-sub .movie-img .num {
	position: absolute;
	bottom: 10px;
	right: 5px;
	height: 20px;
	padding: 0 7px;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-family: arial, sans-serif;
}

.article-movie-sub .blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.article-movie-sub .movie-img .num:after {
	content: '+';
	margin-left: 2px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-family: arial, sans-serif;
}

.article-movie-sub li:after {
	display: block;
	clear: both;
}
/*=============== notice(show2) ===============*/
.article-album-sub {
	margin-top: 50px;
}

.article-album-sub ul, dl {
	list-style: none;
}

.article-album-sub ul, .article-album-sub li, .article-album-sub dt,
	.article-album-sub dd, .article-album-sub dl {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.article-album-sub .show-2-li {
	overflow: hidden;
	float: left;
	position: relative;
	margin-left: 35px;
	width: 200px;
}

.article-album-sub .album-img {
	display: block;
	width: 200px;
	height: 200px;
}

.article-album-sub a {
	color: inherit;
	text-decoration: none;
}

.article-album-sub img {
	vertical-align: top;
	border: 0;
	aspect-ratio: 200/200;
}

.article-album-sub dl {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.article-album-sub dt {
	display: table;
	padding-top: 8px;
}

.article-album-sub .tit {
	color: #222;
}

.article-album-sub dt a {
	display: table-cell;
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
}

.inner {
	display: table;
	table-layout: fixed;
	font-size: larger;
}

.article-album-sub .tit .ellipsis {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	max-height: 18px;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	word-break: break-word;
}

.article-album-sub .p-nick {
	position: relative;
	padding-top: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article-album-sub dd .pers_nick_area span {
	color: #666;
}

.article-album-sub .date_num {
	color: #999;
}

.article-album-sub .num {
	padding-left: 5px;
}

.m-tcol-p .num {
	color: #ff2f3b;
}
/*=============== notice(show3) ===============*/
.board-list-header {
	padding-top: 30px;
	padding-bottom: 7px;
	width: 100%;
}

.board-list {
	width: 100%;
}

.board-list>thead {
	color: #787878;
}

.board-list>thead tr:first-child {
	border-top: 2px solid #454545;
}

.board-list tr>th, .board-list tr>td {
	text-align: center;
}

.board-list .left {
	text-align: left;
	padding-left: 5px;
}

.board-list-footer {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;
}

.page-navigation {
	text-align: center;
}

.btn-light {
	background-color: #ada7e4;
}

.btn-light:hover {
	background-color: #c6bfff;
}

.text-end .text-end-row {
	width: 100%;
	justify-content: end;
}

/* ================= 하단 버튼 ================= */
.article-album-sub .row {
	width: auto;
	display: flex;
	justify-content: end;
}

.btn-light {
	background-color: #ada7e4;
}

.board-list-footer .col .btn-light, 
.board-list-footer .row .col-auto .btn-light,
.board-list-footer .row i,
.table tr td .btn-light {
	color: white;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
	background-color: #ada7e4;
}

.card_area .con .con_top .txt p span {
	font-size: 11pt !important;
}

.table tbody .content-img-center td img {
	margin: auto;
}

#order-btn {
	background-color: #f19d9d;
	color: #000;
	border: 1px solid #c05e5e;
}

.probtn-hover,
.form-select {
	cursor: pointer;
}


element.style {
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
	cursor: pointer;
}

.card_area .con .con_top .tit_area .inner strong {
	
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 850px;
    display: block;
}

.font-array {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 850px;
    display: inline-block;
}

.a-span {
	text-decoration: none; 
	color:#000;
}

.show3 .body-main .board-list tbody tr td .text-reset {
	color: inherit!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 650px;
    display: block;
}
.notice-container .table tbody .prev-next td {
	padding: 0.5rem 0 0 0;
}


.card_area .con .con_top .txt p,
.card_area .con .con_top .txt p span {
	background-color: unset !important;
}

